.dashboard{
    margin-left: 16%;
    background-image: url(../../assets/dashboard_bg.png);
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.memberlist{
    margin-left: 15%;
    background-color: rgb(46, 46, 46);
    height: 100%;   
     margin-left: 16%;
}