.max-w-7xl{
    width: 100%;
    position: fixed;
}



.navbar-block{
    width: 100%;
    color: black;
    height: 5%;
}

body{
    background-color: rgb(107, 100, 100);
  }
  
  .navbar-container{
    background-color: black;
    width: 100%;
    
    margin-top: 0px;
  }
  
  .logo-container{
    margin: 0;
    margin-top: 0;
  
  }

  img{
    width: 20%;
  }

.header{
  position: fixed;
}
  