.healthpopUpUserName, .healthpopUpUserAge{
    font-weight: bold;
    font-size:16px;
    color:#124e78
}

.formInputs{
    font-weight:700;
    color:gray;
    font-family: 'Poppins', sans-serif;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'Poppins', sans-serif;
}

.dialogCloseBtn{
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    color: #6e0e0a;
    cursor: pointer;
    border: none;
    background: #fbf7f1;
    border-radius: 5px;
    margin: 15px 20px 20px 20px ;
    font-family: 'Poppins', sans-serif;
}

.statusBatchPayment{
    color: #ffcb00;
        border: 1px solid yellow;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 5px;
        background: #ffffe9;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        width:50px;
}