

.sidenavbar{
    margin: 0px;
    background-color: #292D36 ;
    width: 16%;
    position: fixed;
    height: 100%;
    /* font-family: 'Montserrat', sans-serif; */
    font-style: bold;
    padding-top:40px;
    color:white;
}

.sidenavbar li{
    color:white;
}
h1{
    font-size: small;
}

.min-h-screen{
    margin-top: 10%;
}

.border-transparent{
    border-color: transparent;
}

.border-l-4{
    border-left-width: 0px;
}