

.sidenavbar{
    margin: 0px;
    background-color: #c22626 ;
    width: 16%;
    position: fixed;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
 

}

 /* img{
    width: 50%;
flex-shrink: 0;
    border-radius: 100px;
border: 2px solid #000;
margin-left: 25%;
margin-top: 10%;
} */

h1{
    font-size: small;
}

.min-h-screen{
    margin-top: 10%;
}
