

    :root {
        --main-color: #4a76a8;
    }

    .bg-main-color {
        background-color: var(--main-color);
    }

    .text-main-color {
        color: var(--main-color);
    }

    .border-main-color {
        border-color: var(--main-color);
    }


 


    .profile-page{
        color: white;
    }

    .profilecard{
     
        align-self: center;
        
        
    }

    .profilephoto{
        width: 20%;
        margin-left: 30%;
        margin-top: 0%;
        border-radius: 0.5rem;
    }