.statusBatch {
    color: #ffcb00;
    border: 1px solid yellow;
    padding-right: 10px;
    padding-left: 10px;
    /* width: 80px; */
    border-radius: 5px;
    background: #ffffe9;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.statusBatchOff {
    color: #003049;
    border: 1px solid #003049;
    padding-right: 10px;
    padding-left: 10px;
    /* width: 80px; */
    border-radius: 5px;
    background: #ecedfc;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}


.formTopic {
    font-weight: bold;
    font-size: 16px;
    color: #124e78
}

.dialogCloseBtn{
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    color: #6e0e0a;
    cursor: pointer;
    border: none;
    background: #fbf7f1;
    border-radius: 5px;
    margin: 15px 20px 20px 20px ;
    font-family: 'Poppins', sans-serif;
}

.downloadBtn {
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    color: #124e78;
    cursor: pointer;
    border: none;
    background: #fbf7f1;
    border-radius: 5px;
    margin: 15px 20px 20px 20px;
    font-family: 'Poppins', sans-serif;
}