.healthpopUpUserName, .healthpopUpUserAge{
    font-weight: bold;
    font-size:16px;
    color:#124e78
}

.formInputs{
    font-weight:700;
    color:gray;
    font-family: 'Poppins', sans-serif;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    font-family: 'Poppins', sans-serif;
}

.dialogCloseBtn{
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    color: #6e0e0a;
    cursor: pointer;
    border: none;
    background: #fbf7f1;
    border-radius: 5px;
    margin: 15px 20px 20px 20px ;
    font-family: 'Poppins', sans-serif;
}

.downloadBtn {
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    color: #6e0e0a;
    cursor: pointer;
    border: none;
    background: #fbf7f1;
    border-radius: 5px;
    margin: 15px 20px 20px 20px;
    font-family: 'Poppins', sans-serif;
}