.userProfile{
    margin:70px 70px 70px 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.userProfileImage{
    width:95px;
    height:100px;
    border-radius:100px;
    line-height:30px;
    box-shadow: 0, 0, 0, 0.1 0px 4px 12px;
    border:4px solid rgb(243, 244, 248);
    margin-left:47%;
}

.userProfileDtails{
    font-size:13px;
    padding-left:20px;
    line-height: 20px;
}

.message{
    font-size:13px;
    line-height: 30px;
    color:rgb(63, 62, 62);
}

.userNameProfile{
    font-weight:bold;
    font-size:15px;
}

.userEmailProfile{
    color:gray;
    font-size:14px;
}

.qualfication{
    color: gray;
    font-size: 12px;
}

.contactIcon{
    margin-left:46%;
}

.facebookIcon{
    color:rgb(27, 27, 52);
    font-size:20px;
}

.twitterIcon{
    color:blue;
    font-size: 20px;
}

.LinkedInIcon{
    color:rgb(138, 13, 13);
    font-size: 20px;
}

