/*Navbar*/
.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  position: fixed;
  width: 100%;
}

.top-nav-collapse .nav-link {
  color: black;
  font-weight: bold;
}

.top-nav-collapse .nav-link:hover {
  color: var(--red);
  cursor: pointer;
}

.top-nav-collapse .active-link {
  color: var(--red);
}

.navbar .navbar_logo {
  width: 120px;
  height: 60px;
}

.userDetails{
  display:flex;
  flex-direction: row;
  gap:10px;
}

.logUserDetails{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName{
  font-size:15px;
}

.userEmail{
  font-size:13px;
  color:gray;
}




